<h1>Lobby</h1>

<% %>
  <tr>
  <li><%= "Base de datos cargada. Dirijase a:\n 
https://localhost:3000/usuarios, https://localhost:3000/tweets, etc, para ver 
los resultados" %></li>
  <li><%= %></li>
  </tr>
<% %>
