<p id="notice"><%= notice %></p>

<p>
  <strong>Tiene tuit pal cal:</strong>
  <%= @tiene_tuit_pal_cal.tiene_tuit_pal_cal_id %>
</p>

<%= link_to 'Edit', edit_tiene_tuit_pal_cal_path(@tiene_tuit_pal_cal) %> |
<%= link_to 'Back', tiene_tuit_pal_cals_path %>
